 #map {
    height: 500px;
     margin: 0 0 10% 0;
    }
.mark-image {
    height: 100px;
    width: 100px;
}
.row {
    padding: 0 0 0 20px;
}
.sign-in {
    margin: 0 10px;
    
}
.sign-in:hover {
    color:dimgrey;
}
.filters:hover {
    cursor: pointer;
}
select {
    height: 40px;
    width: 325px;
    border-radius: 5px;
    border-color:#ccc;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.container {
    background-color: red;
}
.alert {
      transition: all 3s;
}