<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Сервис создания меток</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap-switch.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
        
        <script src="js/lib/require.js" data-main="js/script"></script>
        <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <script src="js/lib/bootstrap-switch.js"></script>
        <script src="js/script.js"></script>
                <script src="js/controllers/RegistrationController.js"></script>
        <script src="js/controllers/MainController.js"></script>      

        <script src="js/controllers/CircleController.js"></script>
        <script src="js/controllers/MarksController.js"></script>

    </head>
    <body ng-app="Marks" ng-controller="mainController" >
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><i class="glyphicon glyphicon-map-marker"></i></a>
                </div>

                <div class="collapse navbar-collapse">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Введите логин">
                        </div>
                        <button type="submit" class="btn btn-default">Поиск</button>
                    </form>
                    <ul class="nav navbar-nav navbar-left">
                        <li><a class="filters" ng-click="showFilter = ! showFilter"><i class="glyphicon glyphicon-sort-by-attributes"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#settings">Настройки профиля</a></li>
                            <li><a href="#marks">Управление метками</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a>Выход</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row" ng-hide="showFilter" ng-controller="CircleController">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-1">
                        <i class="glyphicon glyphicon-remove" ng-click="showFilter = ! showFilter"></i>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Введите город</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                      <div class="col-md-2">
                          <label>Указать область</label>
                          <div class="row">
                              <input type="checkbox" ng-model="area" ng-click="switch()"> 
                          </div>
                    </div>
                     <div class="col-md-2 circle-radius" ng-hide="!area">
                          <label>Радиус круга</label>
                          <div class="row">
                              <input ng-click="click()" ng-model="radius" type="number" class="form-control" id="circle-radius" min="100" value="1" step="100">
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-view>
            
        </div>
    </body>
</html>

<script>

</script>