       <div><h1>ddd</h1>
                    <div class="sign-up" ng-hide="showBlock">
                        <h2>Регистрация</h2>
                       <form ng-submit="submit()" role="form" class="form-horizontal">
                          <div class="form-group has-feedback">
                            <label for="login" class="control-label">Логин</label>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>         
                            <input type="text" class="form-control" required="required" name="login" pattern="[A-Za-z0-9]{6,}" ng-model="login">
                              </div>
                              <span class="glyphicon form-control-feedback"></span>
                          </div>
                          <div class="form-group has-feedback">
                            <label for="pass" class="control-label">Пароль</label>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tasks"></i></span>
                                <input type="password" class="form-control" required="required" 
                                       ng-model="password" name="password" pattern="[A-Za-z0-9]{6,}">
                              </div>
                              <span class="glyphicon form-control-feedback"></span>
                          </div>
                            <div class="form-group has-feedback">
                            <label>Город</label>                        
                                  <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input ng-model="city" type="text" class="form-control city-value"  name="city" list="cities" >
                              </div>
                          </div>
                        <button type="submit" class="btn btn-success" id="save">Зарегистрироваться</button>
                        <label class="sign-in" ng-click="showBlock = ! showBlock">Войти</label>
                       </form>
                    </div>
                    <div class="sign-up" ng-show="showBlock">
                        <h2>Вход</h2>
                        <form role="form">
                            <div class="form-group">
                                <label>Логин</label>
                                <input type="text" class="form-control" ng-model="name">
                            </div>
                            <div class="form-group">
                                <label for="pass">Пароль</label>
                                <input type="password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Войти</button>
                            <label class="sign-up" ng-click="showBlock = ! showBlock">Регистрация</label>
                        </form>
                    </div>
                </div>