       <div ng-controller="RegistrationController">
           <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="col-md-8" id="map">
                    <img src="img/map.png" class="map-loader">
                </div>
                <div class="col-md-4" >
                      <div class="sign-up" ng-hide="showBlock">

                        <h2>Регистрация</h2>
                       <form role="form" class="form-horizontal" class="registrationForm" name="registrationForm">
                          <div class="form-group has-feedback">
                            <label for="login" class="control-label">Логин</label>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>         
                            <input type="text" class="form-control" required="required" name="login" pattern="[A-Za-z0-9]{5,15}" ng-model="user.login">
                              </div>
                              <span class="glyphicon form-control-feedback"></span>
                          </div>
                          <div class="form-group has-feedback">
                            <label for="pass" class="control-label">Пароль</label>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tasks"></i></span>
                                <input type="password" class="form-control" required="required" 
                                       pattern="[A-Za-z0-9]{5,15}" ng-model="user.password">
                              </div>
                              <span class="glyphicon form-control-feedback"></span>
                          </div>
                            <div class="form-group has-feedback">
                            <label>Город</label>                        
                                  <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input ng-model="user.city" type="text" class="form-control city-value"  name="city" list="cities" >
                              </div>
                          </div>
                        <button type="submit" class="btn btn-success" ng-click="registrate(user, registrationForm)">Зарегистрироваться</button>
                        <label class="sign-in" ng-click="showBlock = ! showBlock">Войти</label>
                       </form>
                    </div>
                    <div class="sign-in" ng-show="showBlock">
                        <h2>Вход</h2>
                        <form role="form" class="signInForm">
                            <div class="form-group">
                                <label>Логин</label>
                                <input type="text" class="form-control" required="required" ng-model="user.login">
                            </div>
                            <div class="form-group">
                                <label for="pass">Пароль</label>
                                <input type="password" required="required" class="form-control" ng-model="user.password">
                            </div>
                            <button type="submit" class="btn btn-success" ng-click="signIn(user, signInForm)">Войти</button>
                            <label class="sign-up" ng-click="showBlock = ! showBlock">Регистрация</label>
                        </form>
                    </div>
                </div>
         </div>

            <div class="col-md-1">
            </div> 
                       </div>
                  